:root {
    --second-text-color: rgba(115, 115, 115, 1);
    --light-text-color: rgba(255, 255, 255, 1);
    --text-color: rgba(37, 43, 66, 1);
    --light-background-color: rgba(255, 255, 255, 1);
    --danger-color: rgba(231, 64, 64, 1);
    --primary-color: rgba(150, 187, 124, 1);
    --primary-text-color: rgba(150, 187, 124, 1);
    --faded-primary-color: rgba(239, 248, 237, 1);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
button{
    cursor: pointer;
}
.section-bg {
    background-color: rgb(239, 248, 237);
    max-width: 100%;

}

.Container {
    margin: auto;
    padding: 0px 15px;
    max-width: 1050px;
}

.header {
    display: flex;
    height: 91px;
    justify-content: space-between;
    align-items: center;

}

.logo {
    display: flex;

}

#logo_name {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: var(--text-color);
}

.nav_bar {
    display: flex;
    gap: 250px;
}

.nav_list {
    padding-top: 15px;
    gap: 21px;
    display: flex;
    list-style: none;
}


.nav_ls_item {
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: right;
    color: var(--second-text-color);

}

.nav_bar_logins {
    padding-left: 100px;
    gap: 45px;
    display: flex;
}

#nav_logins_item_1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.2px;
    padding-top: 15px;
    text-align: right;
    color: var(--primary-color);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#nav_logins_item_2 {
    width: 137px;
    height: 52px;
    gap: 15px;
    border-radius: 5px;
    background-color: var(--primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.2px;
    border: none;
    color: white;
}

#online {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: rgba(150, 187, 124, 1);


}

#high {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 47px;
    line-height: 65px;
    letter-spacing: 0.2px;
    color: var(--text-color);
}

#every_day {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: var(--second-text-color);

}

#hero_button_1 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.2px;
    text-align: center;
    background-color: rgba(150, 187, 124, 1);
    border: none;
    color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    height: 52px;
    width: 193px;
}

#hero_button_2 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.2px;
    text-align: center;
    color: rgba(150, 187, 124, 1);
    background-color: transparent;
    border-color: rgba(150, 187, 124, 1);
    border-radius: 5px;
    width: 162px;
    height: 52px;
}

.hero {
    display: flex;
}

#hero_left_buttons {
    gap: 10px;
    display: flex;
    padding-top: 10px;
}

.hero_left {
    padding-top: 200px;
}

/* second page */

.Section_main {
    height: 782px;
}

.green_small_heading {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: var(--primary-text-color);

}

.blue_big_heading {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: var(--text-color);

}

.gray_parahraph {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: var(--second-text-color);
}

.section_main_contents {
    display: grid;
    gap: 112px;
    padding: 112px;
    justify-content: center;
    align-items: center;

}

.banner_part {
    display: flex;
    gap: 35px;
    /* padding: 100px; */
}

.card {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    /* Adds a soft shadow */
    padding: 20px;
    background-color: white;

}

.card_heading {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: var(--text-color);
}

.card_red_line {
    width: 50px;
    height: 2px;
    background-color: var(--danger-color);

}

.card_para {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: var(--second-text-color);
}


/* page 3 */
.section_3 {
    height: 715px;
}

.sec_3 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 115px; */
    gap: 34px;
}

.red_line {
    width: 94px;
    height: 7px;
    background-color: var(--danger-color);
}

.r_content {
    /* background-color: chartreuse; */
    display: grid;
    gap: 10px;

}

/* page 4 csss */

.approdable_packages_content {
    display: flex;
    gap: 30px;
    margin-top: 10px;


}



.approdable_packages_image {
    border-radius: 20px;
}

.approdable_packages_left {
    display: grid;
    gap: 35px;
}

.section_approdable_packages {
    height: 676px;
}





/* add banner card css */

.add_card {
    display: grid;
    gap: 5px
}

.sale {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 14px;
    /* leading-trim: NONE; */
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: center;
    color: var(--light-text-color);
    background-color: var(--danger-color);
    width: 51px;
    border-radius: 3px;
}

.card_icons {
    display: flex;
    gap: 10px;
    position: absolute;
    z-index: 1;
    top: 236px;
    left: 49px;

}

.sale {
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 20px;

}

.card_small_heading {
    display: flex;
    gap: 10px;

}

.ratting_part {
    display: flex;
    background-color: rgba(45, 64, 89, 1);
    border-radius: 20px;
    width: 50px;
    height: 26px;
    justify-content: center;
    align-items: center;
    /* gap:px; */
}

.card_download_part {
    display: flex;
    gap: 10px;
}

.price_part {
    display: flex;
    gap: 5px;
}

.card_icon_button {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    border: none;
    justify-content: center;
}

.card_top_part {
    position: relative;
}


/* card bottoommm */

.card_green_small_heading {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: var(--primary-text-color);
}

.ratting_text {
    color: rgb(255, 255, 255);
}

.card_bottom_part {
    display: grid;
    padding: 20px;
    gap: 10px;
}

.card_blue_big_heading {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: var(--text-color);

}

.card_gray_paragraph {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: var(--second-text-color);
}

.card_gray_sale {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 14px;
    color: var(--second-text-color);
    line-height: 24px;
    letter-spacing: 0.2px;

}


.gray_price {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-align: center;
    color: rgba(189, 189, 189, 1);
}


.orange_price {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-align: center;
    color: rgba(255, 171, 113, 1);

}



.card_learn_more {
    border-color: var(--primary-color);
    border-radius: 37px;
    width: 142px;
    height: 44px;
    background-color: transparent;
    color: var(--primary-color);

}


.adds {
    display: flex;
    /* justify-content: space-between; */
    gap: 30px;
}


.most_popular_courses_content {
    display: grid;
    gap: 80px;
}



/* page 6 css */

.section_our_experts_teacher {
    height: 1440px;
}

.our_experts_teacher_top_part {
    display: grid;
    gap: 10px;
}

.our_experts_teacher_card{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 35px;
    box-shadow: rgba(0, 0, 0, 0.07);
}



.our_experts_teacher_card_heart_icon {
    height: 80px;
    width: 80px;
    border-radius: 200px;
    border: none;
    color: white;
    background-color: rgba(150, 187, 124, 1);
}







.our_experts_teacher_card_list_green_tick {
    background-color: aqua;
    /* width: 50px; */
    /* height: 50px; */
    border-radius: 50px;
    border: none;
}



.our_experts_teacher_card_free_heading {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 24px;
    color: var(--text-color);
    line-height: 32px;
    letter-spacing: 0.1px;

}

.our_experts_teacher_card_gray_small_heading{
    font-family: Montserrat;
font-weight: 700;
font-size: 14px;
color: var(--second-text-color);
line-height: 24px;
letter-spacing: 0.2px;
text-align: center;

}

.our_experts_teacher_card_price_text{
    font-family: Montserrat;
font-weight: 700;
font-size: 40px;
color: var(--primary-color);
line-height: 50px;
letter-spacing: 0.2px;

}

.our_experts_teacher_card_per_month_text{
    font-family: Montserrat;
font-weight: 700;
font-size: 14px;
color: rgba(142, 194, 242, 1);
line-height: 24px;
letter-spacing: 0.2px;

}

.our_experts_teacher_card_paragraph{
    font-family: Montserrat;
font-weight: 400;
font-size: 14px;
color: var(--second-text-color);
line-height: 20px;
letter-spacing: 0.2px;
text-align: center;

}


.our_experts_teacher_card_button{
    font-family: Montserrat;
font-weight: 700;
font-size: 14px;
color: var(--light-text-color);
line-height: 22px;
letter-spacing: 0.2px;
text-align: center;
background-color: var(--primary-color);
width: 243px;
height: 52px;
border-radius: 5px;
border: none;
}

.our_experts_teacher_card_list_row{
    display: flex;
}

